#div_1{
    width:85%;
    height:350px;
}
.img_1:hover{
   transform: scale(1.1);
   transition-duration:1.5s;
}
@media(max-width:575.99px){
    #div_1 img{width:100%;height:350px;}
    #div_1{ flex-direction: column;}
    #two{margin-top:621px ;}
    .two_1{width:100%;}
    .two_2{width:100%;display: flex;justify-content: space-between;}
    .two_2{width:100%;height:672px;}
    .ys_bg{
        width: 95%;height: 70px;
        margin: auto;margin-top: 240px;
    }
    .div_ys{height:310px;}
    .five .row .div_ys1,
    .five .row .div_ys2,
    .five .row .div_ys3,
    .five .row .div_ys4{padding-top:30px;}
}
@media(min-width:576px){
    #div_1{ flex-direction: column;}
    #div_1 img{width:100%;height:350px;}
    #div_1 div{width:100%;height:350px;}
    #two{margin-top:621px ;}
    .two_1{width:100%}
    .two_2{width:100%;display: flex;}
    .four_1,.four_2{width:100%;}
    .four_1>div{margin:0 !important;}
    .ys_bg{
        width: 95%;height: 70px;
        margin: auto;margin-top: 240px;
    }
    .div_ys{height:310px;}
    .two_2{width:70%;height:672px;}
}
@media(min-width:768px){
    #div_1 img{width:33.3%;}
    #div_1 div{width:33.3%}
    #two{margin-top:0px ;}
    .two_1{width:30%}
    .two_2{width:70%;
    display: block;}
    .four_1{width:50%;}
    .four_2{width:50%;}
    .ys_bg{
        width: 98%;height: 140px;
        margin: auto;margin-top: 167px;
    }
    .two_2{width:70%;height:672px;}
}
.text_color{color:white}
.text_color2{color:#6ebee6}
.my_bg3{background-color: #4fb5e7;}
.my_border{
    border-bottom: 1px solid #72c4eb;
}
body{margin:0;padding:0;}
#two{width:100%;}
.two_1{
    height:672px;
    background-color:#32609e ;
    position: relative;
}
.two_1>div{
    position: absolute;
    left:40%;
    top: 30%;
}
.text_color3{color:#32609e;}
.h-50{padding-left:10%;
    padding-top:10%;
}
.font-40{font-size: 50px;}
/*第三行*/
.three_bg{height:400px;
    background-image: url("../img/13.png");
}
.my_pt{padding-top: 100px;}
.four_1{height:658px;background-color: #4fb5e6;}
.four_2{height:658px;background-color: #32609e;}
.clear{clear: both;}
.four_1 ul li p{color:#a7daf3;
        padding-top:8px;
        border:1px white dotted;
        border-left:0;
        border-right:0;
        border-top: 0;
        padding-bottom: 25px;
}
.four_1 ul li a{text-decoration: none;}
.four_1 div h5{width:80px;}
.four_2 div h5{width:120px;}
.four_1 ul li a:hover{color:white}
.h5_border{border-width: 1px;
        border-left:0;
        border-right:0;
        border-bottom:1px solid;
}
.four_1>div{width:90%;padding-top:10%;padding-left: 20%;}
.four_2>div{width:80%;margin:auto;padding-top: 16%;}
.input_border{
    border-bottom: 0.5px solid ;
    border-color: #aaa;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
input::-webkit-input-placeholder{color: white;}
.w-10{width: 50px;}
.ys_bg{
    background-color:rgba(3, 112, 139, 0.5) ;
}
.ys_bg p{text-align: center;}
#ys .div_ys1{background-image: url("../img/09.png");}
#ys .div_ys2{background-image: url("../img/10.png");}
#ys .div_ys3{background-image: url("../img/11.png");}
#ys .div_ys4{background-image: url("../img/12.png");}
.five .row .div_ys1:hover,
.five .row .div_ys2:hover,
.five .row .div_ys3:hover,
.five .row .div_ys4:hover{
    transform: scale(1.05);
    transition-duration:1.1s;
 }
#ys .div_ys1,#ys .div_ys2,#ys .div_ys3,#ys .div_ys4{background-repeat: no-repeat;
    background-position: center;
}